html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-image: url(clouds-20120607-IMG_0305-2.jpg) no-repeat center center fixed;*/
  background: url("images/14170691_l_crop.jpg") no-repeat center center fixed;
  background-size: cover;
}

@font-face {
    font-family: anonymous;
    src: url(fonts/Anonymous-webfont.ttf);
}
@font-face {
    font-family: Aller_Bold;
    src: url("fonts/Aller_Bd.ttf");
}
@font-face {
    font-family: Aller_Reg;
    src: url(fonts/Aller_Rg.ttf);
}
@font-face {
    font-family: Aller_Letter;
    src: url(fonts/Aller_Lt.ttf);
}
@font-face {
    font-family: Aller_Bold_Italic;
    src: url(fonts/Aller_BdIt.ttf);
}
.jumbotron{
  width: 75%;
  height: 720px;
  background-color: rgba(191,223,251,0.7);
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  text-align: center;
  box-shadow: 25px 25px 20px rgba(12,67,139,0.8);
  border-radius: 30px;
}
/*.jumbotron p{
  font-size: 50px;
}*/

#headline {
  font-family: Aller_Bold;
  font-size: 6em;
  letter-spacing: 1px;
  color: rgb(45,87,162);
  font-style: bold;
  margin: 0 auto;
}
#description{
  font-family: Aller_Letter;
  font-size: 1.5em;
  margin-top: 20px
}
#numberinput{
  font-family: Aller_Bold;
  font-size: 1.5em;
  text-align: center;
  color: red;
  width:300px;
  height: 110px;
  border-radius: 12px;
  box-shadow: 8px 8px 10px rgba(12,67,139,0.4);
}
#submitButton{
  margin: 0 auto;
  text-align: center;
}
#submitButtonInside{
  background-color: rgba(45,87,162,0.9);
  font-family: Aller_Reg;
  font-size: 1.2em;
  letter-spacing: 2px;
  box-shadow: 8px 8px 10px rgba(12,67,139,0.4);
  margin: 40px;
  margin-bottom: 8px
}
.twoButtons{
  background-color: rgba(45,87,162,0.9);
  font-family: Aller_Bold_Italic;
  font-size: 1.2em;
  letter-spacing: 2px;
  box-shadow: 8px 8px 10px rgba(12,67,139,0.4);
  margin: 20px
}
#guessLeft{
  font-family: Aller_Bold_Italic;
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(45,87,162);
}
#giveMeAHint{
  margin-left: 60px;
  margin-right: 0px
}
#playAgain{
  margin-right: 0px
}
.remainGuessWin{
  font-family: Aller_Bold;
  font-size: 200px;
  letter-spacing: 2px;
  color: red
}
#tryAgainBlock{
  visibility: hidden
}
.tryAgain{
  font-family: Aller_Bold_Italic;
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(45,87,162);
}
h3{
  margin:0px;
}

#hintDisplay{
  width: 400px;
  height: 800px;
  background-color:rgba(12,67,139,1.0);
  box-shadow: 8px 8px 10px rgba(12,67,139,0.4);
  text-align:center;
  padding:20px;
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden
}
#hereAre{
  margin:30px;
  font-size:2em;
  letter-spacing: 1px;
}
.hintText{
  font-family: Aller_Bold;
  color:rgba(191,223,251,1.0);  
}
li{
  left:0px;
  right:0px;
  margin-top:20px;
  margin-left:40px;
  margin-right:40px;
  text-align:center;
  font-family: Aller_Reg;
  font-size:1.8em;
  color:rgba(191,223,251,1.0); 
  list-style-type: none;
  background-color:rgba(0,0,0,0.3);
  /* width:80px; */
}
#goBack{
  position: absolute;
    bottom: 8px;
    right:0px;
  left:0px;
  font-size:.9em;
  font-family: Aller_Bold_Italic;

}



